@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');

*{
  margin: 0;
  padding: 0;
}

.app {
  background: #f1f1f1;
  display: grid;  
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  grid-template-areas: 
  "cabecalho"
  "conteudo"
  "rodape"
  ;
  grid-template-columns: auto;
  grid-template-rows: 100px auto auto;
}

.cabecalho {
  /* background-color: #A4A7E0; */
  grid-area: cabecalho;
  display: flex;
  align-items: center;
  padding: 0 2rem;
}

.conteudo {
  /* background-color: #676281; */
  grid-area: conteudo;
  padding: 0 2rem;
}

.none{
  display: none;
}